@(post: Post, inComForm: Form[Comment])(implicit flash: Flash,request: MessagesRequestHeader)
@import views.html.helper._
@import models.UserSession._
@import models.Utils.DateUtil._

@main("Content") {

    <h1>@post.title</h1>
    <p>@post.content</p>
    <span><i class="fa fa-calendar"></i> @post.date.format(DATE_FORMAT) &nbsp;</span>
    <br>

    <div class="btn-group">
        <a href="@if(!SESSION_USERNAME_KEY){#}else{@controllers.routes.PostsController.likePost(post.id)}"
           class="btn btn-outline-primary btn-sm @if(!SESSION_USERNAME_KEY){disabled}"
           aria-disabled="@if(!SESSION_USERNAME_KEY){true}else{false}">
            <span class="fa fa-thumbs-up"></span> @post.likes
        </a>
        <a href="@if(!SESSION_USERNAME_KEY){#}else{@controllers.routes.PostsController.dislikePost(post.id)}"
           class="btn btn-outline-info btn-sm @if(!SESSION_USERNAME_KEY){disabled}"
           aria-disabled="@if(!SESSION_USERNAME_KEY){true}else{false}">
            <span class="fa fa-thumbs-down"></span> @post.dislikes
        </a>
    </div>
    <br>
    <br>
    <h3>Responses</h3>

    <ul class="list-group list-group-flush">
        @for(comment <- post.comments) {
        <li class="list-group-item">@comment</li>
        }
    </ul>


    @if(SESSION_USERNAME_KEY){
    <div>
        @form(routes.PostsController.createComment) {
        @CSRF.formField
        @inputText(inComForm("response"), Symbol("_label") -> "Response", Symbol("_help") -> "")
        <button>Respond</button>
        }
    </div>
    }else{
        <a href="@controllers.routes.UserController.showLoginForm" class="nav-link">Login is necessary to comment and react</a>
    }


}