@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)
@import models.UserSession._
<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>


        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/blogicon.png")">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@

        <nav class="navbar navbar-default">
            <div>
                <a href="@controllers.routes.PostsController.feed(1)" class="text-decoration-none">
                    <h1>The Play Blog</h1>
                </a>
            </div>
                @if(SESSION_USERNAME_KEY){
                <div class="btn-group">
                    <a href="#" class="nav-link">@SESSION_USERNAME_KEY</a>
                    |
                    <a href="@controllers.routes.UserController.logOut" class="nav-link">Log Out</a>
                </div>

                }else{
                    <a href="@controllers.routes.UserController.showLoginForm" class="nav-link">Login</a>
                }
            </div>
        </nav>


        <div class="container">
            <div class="well">
                @content
            </div>
        </div>


      <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
